/* Variables */
$extra-light-color: #fff;
$light-color: #f7f7f7;
$medium-color: #777777;
$dark-color: #222222;
$accent-color: #fed136;
$accent-color-h: #deac01;

$main-text: 'Montserrat', sans-serif;
$extra-text: 'Source Serif Pro', serif;
$p-text: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-family: $main-text;
}

section {
    padding: 48px 0;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-title {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $dark-color;
    line-height: 1;
}

.container-subtitle {
    font-family: $extra-text;
    text-align: center;
    color: $medium-color;
    margin: 10px 0 0 0;
    line-height: 1.1;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 14px 40px;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $accent-color;
    color: $extra-light-color;
    text-transform: uppercase;
    font-family: $main-text;
    font-weight: 600;
}

h1, h2, h3, h4 {
    margin: 0;
}

.btn:hover {
    background-color: $accent-color-h;
}

.col {
    flex: 1;
    padding-top: 32px;
    padding-right: 20px;
    text-align: center;
    min-width: 280px;
    max-width: 400px;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-item: center;
    margin: 40px auto;
    justify-content: center;
}

.col-title {
    font-weight: 700;
    color: $dark-color;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.col-text {
    font-family: $p-text;
    color: $medium-color;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
}

/* Navigation */

.navigation {
    background-color: transparent;
    position: fixed;
}

.navigation .row {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-item: center;
    position: fixed;
    padding: 20px 20px 20px 0;
    margin: 0;
}

.nav-right {
    flex: 80%;
    text-align: right;
}

.nav-left {
    flex: 20%;
    text-align: left;
}

.navigation a {
  text-align: center;
  padding: 14px 14px 14px 0;
  text-decoration: none;
  font-size: 14px;
}

.nav-right a {
    text-transform: uppercase;
    color: $extra-light-color;
}

.nav-left a {
    font-family: $extra-text;
    color: $accent-color;
    font-size: 20px;
}

.nav-right a:hover, .nav-left a:hover {
    color: $accent-color-h;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(/images/bg-image.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    top: -35px;
    z-index: -1;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-subtitle {
    font-family: $extra-text;
    color: $extra-light-color;
    font-size: 40px;
    margin: 0;
}

.page-title {
    font-family: $main-text;
    color: $extra-light-color;
    font-size: 76px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

/* Services */

.serv-i {
    font-size: 32px;
    color: $accent-color;
    width: 76px;
    height: 76px;
    line-height: 76px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    text-align: center;
}

/* Portfolio */

.portfolio {
    background-color: $light-color;
}

.portfolio .row {
    margin-bottom: 40px;
}

.portfolio .col-text {
    margin-top: 0;
    font-family: $extra-text;
}

.portfolio .col {
    text-align: center;
    background-color: white;
    padding: 0 0 6px 0;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.portfolio .col:hover {
    background-color: transparent;
}

.folio-img {
    width: 100%;
}

.folio-img img {
    max-width: 100%;
    max-height: 100%;
    min-height: 300px;
    object-fit: cover;
}

.folio-text {
    width: 100%;
    margin: 0 auto;
}

/* Footer */

.page-footer {
    padding: 0;
}

.page-footer i {
    font-size: 16px;
    background: $dark-color;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $extra-light-color;
    border-radius: 50%;
    text-align: center;
}

.page-footer i:hover {
    background: $accent-color-h;
}

footer p {
    font-size: 14px;
}

footer a {
    font-size: 0;
    padding-left: 20px;
}

/* Media */

@media (max-width: 767px) {
    section .row {
        flex-direction: column;
    }

    .col {
    min-width: 200px;
    max-width: 300px;
    }

    .page-subtitle {
    font-size: 24px;
    padding-bottom: 10px;
    }

    .page-title {
    font-size: 48px;
    }
}
